*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: teal;
}
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0;
}
::-webkit-scrollbar-thumb{
  background-color: #FFF;
}